<p>Email</p>
<input #email type="text" name="" [value]="defaultName">
<br><br>
<button mat-raised-button color="primary" (click)="onSendForm(email.value)">Send Form</button>
<br><br>
<button (click)="onDefaultForm()">Set Default Form</button>
<p>{{ status }}</p>

<hr>

<div *ngIf="displayPassword; then showPassword; else hidePassword">

</div>

<ng-template #showPassword>
  <p>12345678</p>
</ng-template>

<ng-template #hidePassword>
  <p>********</p>
</ng-template>

<hr>

<div [ngSwitch]="lightStatus">
  <div *ngSwitchCase="'GREEN'">GREEN</div>
  <div *ngSwitchCase="'RED'">RED</div>
  <div *ngSwitchCase="'YELLOW'">YELLOW</div>
  <div *ngSwitchDefault>BROKEN</div>
</div>

<hr>

<div *ngFor="let name of names">
  <p>{{ name }}</p>
</div>

<hr>

<p>{{ messageFromParent }}</p>

<hr>

<button (click)="onSendEvent()">Send event</button>

<hr>

<p>Error de http?: {{ errorMessage }}</p>

<hr>

<button [disabled]="estado">Btn ng-disabled</button>
<br><br>
<button (click)="estado = !estado">Change status Btn</button>

<hr>

<input type="text" [ngModel]="titulo"><br><br>
<input type="text" (ngModel)="titulo"><!-- se asigna a variable -->
<h3>Título: {{ titulo }}</h3>
<input type="text" [(ngModel)]="titulo"><br><br>
<input type="text" [(ngModel)]="titulo" (ngModelChange)="log($event)">
<br><br>
<h3>Selección: {{ seleccion }}</h3>
<select [(ngModel)]="seleccion">
  <option value="Awa">Awa</option>
  <option value="Coco">Coco</option>
</select>
